{%extends "quorabase/base.html"%} {%block content%}
<article class="media content-section">
    <div class="media-body">
     <div class="article-metadata">
       <a class="mr-2" href="#">{{ answer.author }}</a>
       <small class="text-muted">{{ answer.created_at }}</small>
       {%if answer.author == user%}
         <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{%url 'question-answer' object.id%}">Update Answer</a>
         <a class="btn btn-danger btn-sm mt-1 mb-1" href="{%url 'question-delete' object.id%}">Delete Answer</a>
       {%endif%}
     </div>
     <h2 class="article-title">  {{answer.text}} </h2>   <!-- Question Here -->
     <!-- <p class="article-content">{{ post.content }}</p> might remove -->
   </div>
   </article>

{%endblock content%}